RewriteEngine On

#Rewrite Get Parameter
RewriteRule ^([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)$ index.php?endpoint=$1&action=$2 [NC,L]

#Deny Access to src/ and /config
RewriteRule (^|/)config(/|$) - [F]
RewriteRule (^|/)src(/|$) - [F]

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
	Order allow,deny
	Deny from all
</FilesMatch>